[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.10"

[packages]
#food_truck = {path = ".", editable = true}
ipython = "*"
python-json-logger = "*"
sqlalchemy = "*"
tenacity = "*"
typer = "*"
pydantic = "*"
httpx = "*"
python-dotenv = "*"
psycopg2-binary = "*"

[dev-packages]
#black = "==20.8b1"
bumpversion = "*"
flake8 = "*"
flake8-bugbear = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-icdiff = "*"
pytest-mock = "*"
pytest-ordering = "*"
